@media (max-width: 375px) {
    div {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 343px;
            height: 48px;
            left: 70px;
         top: 400px;
    }

    button {
        position: relative;
        left: 120px;
        
        top: 10px;
       
        background: #030303;
        border-radius: 28px;
        color: white;
        width: 176px;
        height: 44px;

    }

}