

@media (max-width: 1440px){
    div{
        position:relative;
            width: 164px;
            height: 182px;
            left: 400px;
            top: 30px;
            background: #F6A560;
                border-radius: 8px;
    }

    p{
        position: relative;
          
            top: 70px;
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
        
            color: #FFFFFF;
    }

    svg{
        position: relative;
            width: 64px;
            height: 64px;
            left: 75.91px;
            top: 24px;
    }
}

@media (max-width: 375px) {
    div {
        position: relative;
        left: 100px;
       

        top:120px;
        background: #F6A560;
        border-radius: 8px;
        width: 159px;
        height: 182px;
    }

    p {

        position: relative;
        height: 30px;
        left: 14.95%;
        right: 33.55%;
     

        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;

        color: #FFFFFF;

    }

    svg {
        position: relative;
        width: 64px;
        height: 64px;
        left: 70.91px;
        top: 24px;
    }
}