

@media (max-width: 1440px){
    div{
        position: relative;
            width: 354px;
            height: 158px;
            left: 635px;
            top: -350px;
            background: #EB7565;
            border-radius: 8px;
    }

    p{
        position: absolute;
            height: 30px;
            left: 6.88%;
            right: 47.43%;
            top: calc(50% - 30px/2 + 40px);
        
            font-family: 'Plus Jakarta Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
        
            color: #FFFFFF;
    }

    svg{
        position: absolute;
            width: 128px;
            height: 64px;
            left: 200.91px;
            top: 24px;
    }
}

@media (max-width: 375px) {
    div {
        position: relative;
        left: 150px;
        right: 0%;
      top: -20px;
        background: #EB7565;
        border-radius: 8px;
        width: 343px;
        height: 158px;
    }

    svg {
        position:relative;
        width: 128px;
        height: 64px;
        left: 191.91px;
        top: 24px;
    }

    p {
        position: relative;
        height: 30px;
            left: 7.1%;
            right: 45.74%;
            top: 30%;
           
       
     

        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;

        color: white;
    }
}
