
@media (max-width: 1440px) {
    div {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        position: relative;

        width: 1111px;
        height: 64px;
        left: 100px;
        top: 34px;
    }

    button{
        position: relative;
        left: -360px;
        background: #030303;
            border-radius: 28px;
            color: white;
    }
}




@media  (max-width: 375px){
div {
   
    display: flex;
    justify-content: space-between;
   
    width: 375px;
        height: 48px;
        left: 57px;
        
}

button{
position:relative;
    left: 110px;
    right: 0%;
    top: 10px;
    bottom: 0%;
    background: #030303;
    border-radius: 28px;
    color: white;
    width: 176px;
    height: 44px;

}

svg{

    position: relative;
    left: 30px;
}



}

