@media (max-width: 375px){
    .product{
        padding: 20px 0;
    }

    .slider-wrap{
        position: relative;
    }

    .slidermain{
        position: absolute;
        width: 2820px;
    }

     .item{
        display: inline-block;

        width: 375px;
        height: 180px;
      
    
    } 

    .img{
    position: absolute;
        width: 2820px;
        height: 360px;
        left: 88px;
        top: 88px;

    }

  /* .text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: -50;
    } */
}

