@media (max-width: 1400px) {
    div {
        position: relative;
        width: 752px;
        height: 150px;
        left: 100px;
        top: 100px;
    }

    h1 {
        position: relative;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 71px;
        text-align: center;
        color: #030303;
        left: 0%;
    }

    p {

        position: relative;
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #7A746E;
        right: 0px;


    }
}

@media (max-width: 375px) {
    div {
       position: relative;
        width: 343px;
        height: 210px;
        left: 350px;
       
       
    }

    h1{
        position: relative;
        height: 90px;
        left: -220px;

       
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        color: #030303;
        
        top: -95px;
    }

    p{
    position: relative;
        height: 104px;
        left: -205px;
        
        top: calc(50% - 104px/2 + 53px);
    
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #7A746E;

        top: -80px;
        

    }

 
}

